#map {
  height: 100%;
  width: 100%;
}

.fondo {
  --background: transparent;
  /* Elimina color blanco de fondo por defecto */
  background-image: url('/assets/FONDO.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* Necesario para posicionar el botón correctamente */
}

.bottom-button {
  position: absolute;
  bottom: 30px;
  /* Ajusta la distancia entre el botón y la parte inferior de la pantalla */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}