<ion-content [fullscreen]="true">

  
  <div class="circle circle1"></div>
  <div class="container">

    <ion-icon name="person-circle-outline" color="light"></ion-icon>


    <ion-item lines = "none" class="ion-text-center ion-margin itemDesign" >
      <ion-input placeholder="Email" type="text" clearInput="true"></ion-input>
    </ion-item>

        <ion-item lines = "none" class="ion-text-center ion-margin itemDesign">
      <ion-input placeholder="Password" type="password" clearInput="true"></ion-input>
    </ion-item>

  </div>
  <div class="circle circle2"></div>

  <div class="align ion-text-center">
    <ion-button expand="block" shape="round" color="light">Iniciar Sesion</ion-button>
    <ion-text color="light"><p>Olvidaste tu contraseña?</p></ion-text>
  </div>
</ion-content>