<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="leaf-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mapa">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="camara">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="blog">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
