ion-tab-button ion-icon {
  color: #000000;  
  font-size: 24px;
  
}


ion-tab-bar {
  --background: hsl(135, 100%, 29%);
}


ion-tab-button {
  background-color: hsl(135, 100%, 29%);
  color: hsl(0, 0%, 0%); 
}

ion-tab-button ion-icon {
  color: hsl(0, 0%, 100%); 
  font-size: 24px;
}
