.fondo {
  --background: transparent;
  /* Elimina color blanco de fondo por defecto */
  background-color: #ace28e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* Necesario para posicionar el botón correctamente */
}

.contenedor-card {
  padding-top: 30px;
  /* Espacio arriba y a los lados */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente */
}

.titulo-home {
  font-family: 'Cal Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #1d5702;
  text-align: center;
  margin-bottom: 20px;
}

ion-modal ion-toolbar {
  --background: #f7f7f7;
}

ion-modal ion-content {
  --background: #5daf43;
}