<ion-content class="fondo">
  <div class="contenedor-card">
    <h2 class="titulo-home">PUNTO VERDE</h2>
  </div>

  <ion-item-sliding>
    <ion-item class="itemPerfil">
      <ion-thumbnail slot="start">
        <img alt="Foto de perfil" [src]="foto" crossorigin="anonymous" />
      </ion-thumbnail>
      <ion-label>
        <p>{{nombre}}</p>
      </ion-label>
      <ion-label>
        <p>{{correo}}</p>
      </ion-label>

    </ion-item>

    <ion-item-options>
      <ion-item-option color="danger" (click)="logout()"><ion-icon
          name="log-out-outline"></ion-icon>Salir</ion-item-option>
    </ion-item-options>
    <h4>Tienes {{puntos}} y eres rango {{rango1}}</h4>

  </ion-item-sliding>
  <ion-button color="success" (click)="router('blog')" shape="round">
    Reportes y sugerencias.
  </ion-button>

</ion-content>