<ion-content class="fondo">
  <div class="contenedor-card">
    <h1 class="titulo-home">PUNTO VERDE</h1>
  </div>

  <ion-item-sliding>
    <ion-item class="itemPerfil">
      <ion-thumbnail slot="start">
        <img alt="Foto de perfil" [src]="foto" crossorigin="anonymous" />
      </ion-thumbnail>
      <ion-label>{{nombre}}</ion-label>
      <ion-label>{{correo}}</ion-label>

    </ion-item>

    <ion-item-options>
      <ion-item-option color="danger" (click)="logout()"><ion-icon
          name="log-out-outline"></ion-icon>Salir</ion-item-option>
    </ion-item-options>
    <h3>Tienes {{puntos}} y eres rango {{rango1}}</h3>
    
  </ion-item-sliding>

</ion-content>