#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

ion-item {
  border-radius: 20px;
  --background: #379222;
  margin-bottom: 1%;
}

p {
  color: #ffffff;
}

h3 {
  padding: 5%;
  width: 100%;
  text-align: center;
  color: #035703;
  
}

ion-card {
    background-color: #b0da71;

  
}

ion-card-title {
  color: rgb(255, 255, 255);
}

ion-card-content {
  color: darkslategray;
  
}

ion-button {
  width: 100%;
  padding: 1% 7% 0% 7%;
  
}

h4 {
  width: 100%;
  padding: 1%;
  color: #ffffff;
}

#container strong {

  font-size: 20px;
  line-height: 26px;
}

#container p {
  line-height: 22px;
  color: #ffffff !important;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.itemPerfil {
  --background: #206b0f !important;
}

.fondo {
  --background: transparent;
  /* Elimina color blanco de fondo por defecto */
  background-color: #ace28e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* Necesario para posicionar el botón correctamente */
}

.contenedor-card {
  padding: 10% 5% 5%;
  /* Espacio arriba y a los lados */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente */
  
}

.titulo-home {

  color: #0e4211;
  


}

.logo {
  font-family: 'Cal Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  padding: 1px 20px; /* Antes era 50px 20px */
}

