<ion-content class="fondo">
  <div class="contenedor-card">
   <div class="logo">
    <img src="../../../assets/2406166b-98db-43ee-8259-9ebac534af3b.png">
    </div>
  </div>

  <ion-item-sliding>
    <ion-item class="itemPerfil">
      <ion-thumbnail slot="start">
        <img alt="Foto de perfil" [src]="foto" crossorigin="anonymous" />
      </ion-thumbnail>
      <ion-label>
        <p>{{nombre}}</p>
      </ion-label>
      <ion-label>
        <p>{{correo}}</p>
      </ion-label>

    </ion-item>

    <ion-item-options>
      <ion-item-option color="danger" (click)="logout()"><ion-icon
          name="log-out-outline"></ion-icon>Salir</ion-item-option>
    </ion-item-options>
    <ion-item>
      <h4>Tienes <strong>{{puntos}}</strong> puntos, y eres rango <strong>{{rango1}}</strong></h4>
      <ion-thumbnail slot="end">
        <img alt="rango" [src]="insignia" crossorigin="anonymous" />
      </ion-thumbnail>
    </ion-item>


  </ion-item-sliding>
  <ion-button color="success" (click)="router('blog')" shape="round">
    Reportes y sugerencias.
  </ion-button>

  <h3>Ultimas noticias</h3>

  <ion-card *ngFor="let new of noticias">
    <ion-card-header>
      <small>Publicado el {{new[3]}}</small>
      <ion-card-title>{{new[1]}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{new[2]}}
    </ion-card-content>
    <ion-card-content>
      <small>Publicado por {{new[5]}}</small>
    </ion-card-content>
  </ion-card>
</ion-content>