<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="leaf-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mapa" href="/tabs/mapa">
      <ion-icon name="map-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button id="qrTab" tab="camara" href="/tabs/camara">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ranking" href="/tabs/ranking">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="rewards" href="/tabs/rewards">
      <ion-icon name="gift-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>