<ion-content class="fondo">
  <header class="titulo-qr">¿Encontraste un código QR escondido? Pruebalo y gana puntos!</header>

  <div class="foto">
    <img src="../../../assets/FOTO_CARD.jpeg">
    </div>
  <ion-row class="ion-padding ion-justify-content-center">
    <ion-col size="auto">
      <ion-button (click)="openQR()">Escanear Punto Verde</ion-button>
    </ion-col>
  </ion-row>
 <h3>Aportes</h3>
  <ng-container *ngIf="!sinAportes; else sinAportesMsg">
    <ion-row *ngFor="let aporte of aportes; index as i">
      <ion-col size="1">{{ i + 1 }}</ion-col>
      <ion-col>{{ aporte[0] }}</ion-col>
      <ion-col>{{ aporte[1] }}</ion-col>
      <ion-col>{{ aporte[2] }}</ion-col>
      <ion-col>{{ aporte[3] }}</ion-col>
    </ion-row>
  </ng-container>

  <ng-template #sinAportesMsg>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>No hay aportes registrados aún.</p>
      </ion-col>
    </ion-row>
  </ng-template>
  <h1>Fin</h1>
</ion-content>