<ion-content class="fondo">
  <div class="contenedor-card">
    <h1 class="titulo-home">PUNTO VERDE</h1>
    <ion-card>
      <img alt="EJEMPLO CARD DUOC" src="/assets/FOTO_CARD.jpeg" />
      <ion-card-header>
        <ion-card-title>Nuevos codigos QR!</ion-card-title>
        <ion-card-subtitle>Duoc UC Viña del Mar</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Encuentralos en los puntos verde de tu sede y podras ganar increibles recompensas!
      </ion-card-content>
    </ion-card>
    <img class="logo_menu" alt="LOGO DUOC" src="/assets/LOGO_DUOC.png" />

<div class="botones-inicio">
   <button class="btn btn-light" [routerLink]="['/puntos']">PUNTOS</button>
   <button class="btn btn-light" [routerLink]="['/recompensas']">RECOMPENSAS</button>
   <button class="btn btn-light" [routerLink]="['/acciones']">ACCIONES</button>
</div>

  </div>
</ion-content>
